@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container_ {
	height: 100%;

}

.container_ {
	display:none;
	visibility: hidden;
}

body {
	background: #3b3f45;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

/* Top Navigation Style */
.codrops-top {
	margin-top: 1em;
}

.codrops-top a {
	font-size: 0.69em;
	padding: 0 0.25em;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.codrops-icon-info:before {
	content: "\e003";
}

.codrops-icon span {
	display: none;
	position: absolute;
	font-size: 0.85em;
	padding: 0.5em 0 0 0.25em;
	font-weight: 700;
}

.codrops-icon:hover span {
	display: block;
	color: #6a7b7e;
}

/* Related demos */
.related {
	font-weight: 700;
	text-align: center;
	padding: 5em 0;
	display: none;
	background: #fff;
	color: rgba(0,0,0,0.3);
}

.overview .related {
	display: block;
}

.related > a {
	border: 3px solid black;
	border-color: initial;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related > a:hover,
.related > a:focus {
	color: rgba(0,0,0,0.5);
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}


.card {
	padding:40px 50px;
	/* margin-left: 30px; */
	text-align: left;
	border-radius: 2rem;
	font-family: Poppins;
	/* background: #00B4DB; */  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(to left, #0083B0, #00B4DB); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card > h3 	{
	color:white;
	text-align: center;
	padding-bottom: 20px;
	font-family: sans-serif;
	font-size: 2rem;
}

.card > h4 {
	font-family: Poppins;
	font-weight: normal;
}



.second-section  {


}

.perspective {
  width: 100%;
  perspective: 1000px;
}

.top {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  /* background-image: url(https://www.stickpng.com/assets/images/580b585b2edbce24c47b263e.png); */
  /* background-size: cover; */
}

.card {
  width: 80vw;
  margin:0 auto;
  height: 413px;
  margin: auto;
  /* box-shadow: 16px 21px 90px -35px #373f42; */
  transform-style: preserve-3d;
  transition: transform .05s linear;
}
.card .thumb {
  background-size: contain;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}


.card .thumb:after {
  background: inherit;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://www.stickpng.com/assets/images/580b585b2edbce24c47b263e.png);
  display: block;
  position: absolute;
  left: 600px;
  /* top: 40px; */
  width: 100%;
  height: 108%;
  z-index: -1;
  /* filter: blur(55px); */
  transform: scale(2);
}


@media only screen and (max-width:1300px) {
  .card .thumb:after {
      left: 400px;
      /* top: 40px; */
      width: 100%;
      height: 108%;
      z-index: -1;
      /* filter: blur(55px); */
      transform: scale(2);
  }
}

@media only screen and (max-width:1100px) {
    .card .thumb:after {
        left: 200px;
        /* top: 40px; */
        width: 100%;
        height: 108%;
        z-index: -1;
        /* filter: blur(55px); */
        transform: scale(2);
    }
}

@media only screen and (max-width:900px) {
    .card .thumb:after {
        left: 10px;
        /* top: 40px; */
        width: 100%;
        height: 108%;
        z-index: -1;
        /* filter: blur(55px); */
        transform: scale(2);
    }
}


.secend_card .thumbr:after {
  transform: rotate(90) scale(2);
}

.card h2 {
  position: absolute;
  color: cornsilk;
  font-family: 'Acme';
  top: 30px;
  padding-right: 5px;
  padding-left: 15px;
  left: 20vw;
  text-shadow: 24px 9px 45px black;
  font-size: 7vw;
  font-weight: 900;
  transform: translateZ(80px);
  /* background-color: rgba(255,105,180,0.7); */
}

.card h2:nth-child(2) {
   top: 150px;
}

@media only screen and (max-width:1100px) {
  .card h2 {
    font-size: 60px;
    left: 14vw;
  }

  .card h2:nth-child(2) {
      top: 190px;
  }

}


@media only screen and (max-width:900px) {
    .card h2 {
        font-size: 40px;
        left: -50px;
    }

    .card h2:nth-child(2) {
        top: 120px;
    }

}

@media only screen and (max-width:600px) {
    .card h2 {
        font-size: 35px;
        left: -50px;
    }

    .card h2:nth-child(2) {
        top: 80px;
    }

}

.card span {
  position: absolute;
  bottom: 40px;
  right:10px;
  text-shadow: 2px 3px 10px gray;
  font-size: 48px;
  font-weight: 600;
  transform: translateZ(35px);
}



@media screen and (max-width:900px) {
  .second-section {
    flex-direction: column;
  }

  .sec_2 {
    margin-bottom:90px;
  }

  .card span {
    color:white;
    font-size: 2.4rem;
    text-align: center;
    left: 20px !important;
    right: 7%;
  }

  .second-section .top {
    margin-bottom: 100px;
    margin-top: 90px;
  }

  .second-section .card {
    margin-left: 20vw;
    margin-right: 20vw;
    width:60vw;

  }
}

@media screen and (max-width:450px) {
  .card  h2 {
    font-size: 1.6rem;
    left:-14%;
  }
}

.dribbble {
  position: fixed;
  top: 25px;
  right: 25px;
}
.dribbble > a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ec4989;
}

.sec_2 {
	text-align: center;
	color: #61267d;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 5.5rem;
	margin-bottom: 50px;
}

.bolder-title {
	font-size: 40px;
	font-weight: bolder;
	position: absolute;
}


.arrow {
  width: 38px;
  height: 14px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  opacity: 0.5;
  transition: ease 1s;
  -webkit-animation: bouncey 1.6s linear infinite;
          animation: bouncey 1.6s linear infinite;
}
.arrow ul {
  list-style: none;
}
.arrow ul li {
  width: 24px;
  height: 4px;
  background: gray;
}
.arrow ul li:nth-child(1) {
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px 0 0 5px;
}
.arrow ul li:nth-child(2) {
  left: 14px;
  position: absolute;
  border-radius: 0 5px 5px 0;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.arrow:hover {
  opacity: 1;
}

@-webkit-keyframes bouncey {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bouncey {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


#nex_sect {

margin-top: 300px;

position: relative;

width: 105%;

margin-left: -30px;

perspective: 1000px;

animation: bouncey 4s infinite;
}

#upload_ {
  background-color: white;
  box-shadow: 1px 0px 55px gray;
  width: 102%;
  height: 440px;
  background-image: url("../img/bg-pattern.png");
  margin-bottom: 100px;
  border-radius: 28px;
}

@media only screen and (max-width:550px) {
  #upload_ {
    height: 67vh;
  }
}


.upload_2 {
   width: 20rem;
    height: 5rem;
    color: #2e0e5f;
    /*background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);*/
  /*background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);*/
  background-color: #cdda0b99;

  border-radius: 5rem;
  background-size: 200%;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Fredoka One', sans-serif;
  font-size: 2.3em;
  text-shadow: 0 1px 1px springgreen;
  padding-top: 10px;
  text-align: center;
  letter-spacing: 0.09em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
}

.upload_2:hover {
  width: 28rem;
  opacity: 0.9;
  color: green;
  font-weight: bolder;
  transition: all 2s ease;
  text-shadow: 0 1px 1px white;
}

#upload_1  {
  width: 20rem;
  height: 5rem;
  color: #fff;
  background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background-size: 500%;
  border-radius: 5rem;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Fredoka One', sans-serif;
  font-size: 2.3em;
  text-shadow: 0 3px 3px gray;
  padding-top: 10px;
  text-align: center;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

#upload_1:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 3s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}


#fki {
  position: absolute;

  padding-bottom: 30px;
  width: 100%;
  left: 50%;

  padding-top: 100px;
  transform: translate(-35%,-10%);
}

#fki h1 {
  color:#7b87c4;
  text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
  font-size: 4rem;
  font-family: 'Fredoka One', sans-serif;
}

.input_file {
  display: none;

}

.trigger_handler {
  margin-bottom: 10px;
}


@media only screen and (max-width: 1100px) {
  #nex_sect {
    width: 110%;

  }
}


.bg-12 {

}

.pricing-section {
    padding: 2em 0 8em;
    min-height: 100vh;
    position: relative;
}

.codrops-header, .pricing-section {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.pricing-section__title {
    font-size: 9rem;
    font-weight: bolder;
    color: #202442;
    font-family: 'Fredoka One', sans-serif;
    margin: 1em 0 1em;
    animation: bouncey 3s infinite;
    text-shadow: 6px 11px 1px #afb1bd;
    flex: none;
}

.pricing {
    display: -webkit-flex;
    animation: bouncey 2s infinite;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}

/* palden */
.pricing--palden .pricing__item {
  font-family: "Nunito", sans-serif;
  cursor: default;
  color: rgba(27, 74, 125, 0.29);
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
  margin: 1em;
  min-width: 350px;
  transition: all 0.4s ease-out;
}

.pricing--palden .pricing__feature:hover {
  color: rgba(27, 74, 125, 1);
  transition: all 0.9s ease-in;
}

@media screen and (min-width: 66.250em) {
  .pricing--palden .pricing__item {
    margin: 1em -0.5em;
  }
  .pricing--palden .pricing__item--featured {
    margin: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}

.pricing--palden .pricing__deco {
  border-radius: 10px 10px 0 0;
  background: #7a90ff;
  padding: 4em 0 9em;
  position: relative;
}

.pricing--palden .pricing__deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.pricing--palden .pricing__item--featured .pricing__deco {
  padding: 5em 0 8.885em 0;
}

.pricing--palden .pricing__title {
  font-size: 0.75em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffd5bd;
}

.pricing--palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.pricing--palden .pricing__item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px,0,0);
  transform: translate3d(15px,0,0);
}

.pricing--palden .pricing__item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px,0,0);
  transform: translate3d(-15px,0,0);
}

.pricing--palden .icon {
  font-size: 2.5em;
}

.pricing--palden .pricing__price {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  text-align: center;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}

.pricing--palden .pricing__currency {
  font-size: 0.15em;
  vertical-align: top;
  color: rgba(0,0,0,0.4);
}

.pricing--palden .pricing__period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  color: rgba(0,0,0,0.4);
  font-style: italic;
}

.pricing--palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing--palden .pricing__feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: center;
}

.pricing--palden .pricing__feature {
  /* padding: 1em 0; */
  font-family: 'Fredoka One',
  sans-serif;
  font-size: 1.3rem;
  /* font-weight: 100; */
  padding: 10px;
  margin: 4px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.14);
}

.pricing--palden .pricing__feature:last-child {
    border-bottom: none;
}

.pricing--palden .pricing__action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: #ffae7e;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pricing--palden .pricing__action:hover,
.pricing--palden .pricing__action:focus {
  background-color: #f38747;
}

.head-title-contaniner {
    line-height: 150px;
  letter-spacing: 2px;
  animation: bouncey 3s infinite;
  opacity: 0;
  margin: 0;
}


.head-title  {

  transform: translateX(-50%) rotate(-10deg) skew(-10deg);
  font-size: 9.8rem;

  font-weight: bolder;
  color: #202442;
  font-family: 'Poppins', sans-serif;

  display: block;
  text-align: center;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
  left: 50%;

}




@media only screen and (max-width: 1000px) {
  .head-title_l {
    font-size: 6.9rem;
  }
}


@media only screen and (max-width: 700px) {
  .head-title {
    font-size: 4.6rem;
  }

  .head-title_l {
    font-size: 3.8rem;
  }
  .head-title-contaniner {
    line-height: 90px;
  }
}


@media only screen and (max-width: 500px) {
  .head-title {
    font-size: 4.8rem;
  }

  .head-title_l {
    font-size: 3.8rem;
  }
  .head-title-contaniner {
    line-height: 90px;
  }
}





.price_section-title:nth-child(1) {
  color: #3F4EE7;
  top: 20%;
  padding: 57px;
}
.price_section-title:nth-child(2) {
  color: #EFD12C;
}



.about_section-title:nth-child(1) {
  color: #e55643;
}
.about_section-title:nth-child(2) {
  color: #2b9f5e;
}
.about_section-title:nth-child(3) {
  color: #f1c83c;
}


.costomer_section-title:nth-child(1) {
  color: #221649;
}
.costomer_section-title:nth-child(2) {
  color: #f1c83c;
}
.costomer_section-title:nth-child(3) {

  color: #2b9f5e;
}


.bg {
  height: 200vh;
  background: url('./../img/cloudy-day.png') center ;
}


.tabBox {
  box-shadow: 0px 0px 22px -20px;
  /*width: 70vw;*/
   width: 80%;
   margin-left: 10%;
  /*margin: 40px 0 0 40px;*/

  /*box-shadow: 0 1px 10px #babfbf;*/
  border-radius: 18px;

}

.hideSeekTab {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  margin: 10px 0;
  padding:20px 10px;
  border-radius: 18px;
  /*width: 320px;*/
   width: 100%;
  background-color: white;
  text-align: center;
}

.labelBox {
  position: relative;
  display: flex;
  padding: 0 8px 0 16px;
  align-items: center;
  justify-content: space-between;
}

.iconBox {
  position: relative;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
  transition: transform .4s;
}

.line {
  margin: auto;
  display: block;
  width: 22px;
  height: 1px;
  background: grey;
  position: absolute;
  top: 20px;
}

.left {
  left: 9px;
  transform: rotate(45deg);
}

.right {
  right: 9px;
  transform: rotate(-45deg);
}

.iconBox.closed {
  transform: rotate(0deg);
}

.tabBox h3.title {
  text-align: left;
  color: grey;
  font-weight: 200;
}

.tabBox p.text {
  font-weight: 200;
  color: #1d1d1b;
  display: none;
  padding: 0 16px;
  text-align: left;
  line-height: 1.5;
  opacity: 0;
  transition: opacity .7s;
}

.tabBox p.text.open {
  opacity: 1;
  display: block;
}


@media screen and (min-width: 900px) {
	.price_section-container {
		margin-top: 400px;
	}

}


@media screen  and (max-width: 900px) {
  .price_section-container {
    padding-top: 950px;
  }
}






@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}


.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
   max-width: 1100px;
  margin-top: 95px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
